a {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
    color: white;
}

.header {
    background-color: rgba(0, 0, 0, 0.849); 
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 80px;
    margin-inline: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.nav-list li a {
    padding-block: 16px;
}

.ig {
    padding-left: 20px;
}

/* botao */

.hamburguer {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    border-top: 3px solid white;
}

.hamburguer::before, .hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
}

.nav-list-global {
    display: flex;
    gap: 100px;
}

.first {
    color: red;
}

.logo {
    z-index: 2;
}

@media (max-width: 768px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }

    .nav-list-global {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: black;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;

        /* clip path */
        clip-path: circle(100px at 90% -15%);
        transition: .5s ease-in-out;
        pointer-events: none;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav.active .nav-list-global {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .ig {
    margin-left: 0;
    }
}