<section>
    <div class="containerGeral">
        <div class="textos">
            <div class="titulo">
                <h2><span>Sobre</span> o Conteúdo</h2>
            </div>
    
            <div class="textoP">
                <p>Com as Ferramentas do Contador Gestor, você terá acesso a um conjunto completo de controles e tecnologias exclusivas, incluindo tabela de precificação, modelo de proposta contábil, script de vendas, modelo de contrato e muito mais. Receba suporte imediato, faça parte de uma comunidade exclusiva e mantenha-se atualizado com as últimas ferramentas do mercado contábil. Não perca essa oportunidade de aprimorar sua gestão contábil e garantir suas ferramentas agora mesmo.</p>
            </div>
        </div>
    
        <div class="video-aba">
            <div class="container-video">
                <iframe class="video" src="https://www.youtube.com/embed/_w3P-6F7x3U" title="CURSO TÉCNICAS DE SEO PARA O MERCADO CONTÁBIL - SUA NOVA FORMA DE PROSPECTAR CLIENTES 🎯" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
</section>