<body>
    <app-header-nav></app-header-nav>
    <section>
        
        <div class="container-textos">
            <h1>Técnicas de <span>SEO </span>Para o <span>Mercado contábil</span></h1>
            <p class="primeiroTexto">Domine o SEO e aumente suas vendas no mercado contábil.
                Google e Bing atraem milhões de empresas buscando serviços
                contábeis. Não fique de fora desse mercado bilionário. 
                Adquira agora e aproveite bônus exclusivos.</p>

            <div class="containerBotao">
                <a href="#" target="_blank">Comprar Agora</a>
            </div>
        </div>

        <div class="imagem">
            <img src="https://s3-alpha-sig.figma.com/img/14a3/2162/9f56ba948b65353e7bb4b13c056fbf3c?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ppnUEK6CTK-rPV41waKYTOF1B24kI~MtWV7oHR8x1oGNLCjREIycztqIPf9t0tBNIWkXpIYT0wN3jHA7zXH0HllQwzlXmI6~VzVpigkOHpOulCXrqKdR-uc9pvi9wuX-9DCRHVQA6tlQZNVUXG0NT8s~iAXjEQPd-lWMTcJrfQYcGsasyGjpVrKGSD~9Su6~Qk5fS4Db~f3KFAPS2brnc-n9WGl1azrrWplJ3ZqXiRWm1QEivoOUvgU4nP-04X2VyQzZjDv9wNoG1fbpAa~Rd6M84FuzmvdP0FaWl-6LZCsA8gISBxNmt8rRcLhqFEOYxYjJvATc412V0KEp8NMKxw__" width="864" height="922" alt="Carlos Santos - SEO">   
        </div>

    </section>
</body>